body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: Arial;
    color: white;
    text-align: center;
}


.container {
    margin-top: 100px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}


input {
    padding: 10px;
    width: 60%;
    margin: 10px;
}


button {
    padding: 10px 20px;
    background: #00ffcc;
    border: none;
    font-weight: bold;
}